/* div[class^="col"],
div[class*="col"] {
    border: 1px dotted black
} */

.col-md-9 h1 {
    font-size: 2.5rem;
}

.container-events {
    /* background-color: #c38cffc4; */
    padding: 2rem;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.299)
}